<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <title>WhoShouldIVoteFor.ca</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="stylesheet" href="{% static 'explorer/bootstrap/css/bootstrap.min.css' %}" />
  <link href="{% static 'explorer/style.css' %}" rel="stylesheet" type="text/css">

  <script src="{% static 'explorer/js/jquery-3.2.1.slim.js' %}"></script>
  <script src="{% static 'explorer/js/tether.min.js' %}"></script>
  <script src="{% static 'explorer/bootstrap/js/bootstrap.min.js' %}"></script>

</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>
