{% extends 'explorer/base.html' %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}

<html lang="en">
<head>
  <link href="{% static 'explorer/style.css' %}" rel="stylesheet" type="text/css">
</head>

{% block content %}

<div class="jumbotron">
  <h1 class="display-3">Welcome!</h1>
  <h2>This site is currently in early development</h2>
  <p>
    The site will provide information about municipal elections in Canada.
  </p>
  <p>
    Please check back later for updates!
  </p>

</div>

{% endblock %}
